.messageHeader ul {
  display: flex;
  height: 60px;
  border-bottom: 0.5px solid gray;
  border-left: none;
  justify-content: space-between;
  align-items: center;
}
.messageHeader span {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 400px;
}
.messageHeader ul li span {
}
.messageHeader2 {
  justify-content: space-around;
}
.messengerAvatar {
  gap: 30px;
}
.messengerAvatar p img {
  border-radius: 50%;
}
.messengerAvatar p {
  display: flex;
  align-items: center;
}
