.loginContainer {
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
  position: relative;
  z-index: 2;
}
.onBlur {
  /* background-color: gray;
  backdrop-filter: blur(8px); */
  opacity: 0.7;
  /* background-color: red; */
}
.doBlur {
  position: static;
  z-index: 4;
}
.loginForm {
  width: 400px;
  height: 320px;
  background-color: red;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.blurTheBackGround {
  background-color: rgba(255, 255, 255);
}
.loginMessage h1 {
  color: blue;
  font-size: 60px;
}
.loginMessage {
  font-family: "SFProDisplay-Regular, Helvetica, Arial, sans-serif";
  font-size: 20px;
  font-weight: normal;
}
.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginForm input,
button {
  width: 360px;
  padding: 16px 14px;
  border-radius: 8px;
  outline: none;
  border: 0.5px solid gray;
  margin-top: 5px;
}
.loginForm input:focus {
  border: 0.5px solid rgb(25, 25, 223);
}
.loginForm form button {
  background-color: #1877f2;
  font-size: 20px;
  color: white;
  outline: none;
}
.toggleToCreateAccount {
  text-align: center;
  padding: 10px 0;
}
.toggleToCreateAccount button {
  background-color: #36a420;
  font-size: 20px;
  color: white;
  outline: none;
}
